MYSQL_ROOT_PASSWORD=change-me
CIGC_JWT_KEY=change-me-jwt-key
CIGC_ADMIN_USERNAME=admin
CIGC_ADMIN_PASSWORD=change-me
CIGC_GENESIS_ADDRESS=0x8Bd86ad98D9fA366E52CFB5c08a3e33f5f412Fb1
CIGC_HTTP_ADDR=0.0.0.0:8000
CIGC_DATABASE_DSN=root:change-me@tcp(mysql:3306)/cigc?charset=utf8mb4&parseTime=True&loc=Asia%2FShanghai&time_zone=%27%2B08%3A00%27
CIGC_ALLOW_FORCE_SETTLE=false
CIGC_FULL_DOWNLINE=false
CIGC_SETTLE_CRON=0 0 * * *
CIGC_SETTLE_TIMEZONE=Asia/Shanghai
CIGC_BSC_RPC=https://bsc-dataseed.binance.org/
CIGC_USDT_ADDRESS=0x55d398326f99059fF775485246999027B3197955
CIGC_BUY_CONTRACT=0xCb63733FB936c7B3f147C757D383645e55769bF3
CIGC_DEPOSIT_CONFIRMATIONS=12
CIGC_PAYOUT_ENABLED=false
DAPP_DIST=./frontend/dapp
ADMIN_DIST=./frontend/admin
