/bin/
/dist/
/deploy/out/
/frontend/
*.exe
*.test
*.out

.idea/
.vscode/
*.swp

.env
.env.local
!.env.example
!.env.prod.example
contracts/**/.env

node_modules/
**/node_modules/
**/dist/
dapp/dist/
dapp-admin/dist/
dapp-admin/admin/
dapp-admin/admin.zip
dapp-admin/debug.log

.DS_Store
Thumbs.db
*.save
