{
    "root": true,
    "rules": {
        "generator-star-spacing": 0,
        "no-irregular-whitespace": 0, //这禁止掉 空格报错检查
        "indent": 0, // 空格2~4位
        "no-extra-boolean-cast": 0,
        "semi": 0, // 不检测结尾冒号
        "space-before-function-paren": 0, // 函数括号前加入空格
        "eol-last": 0,
        "no-useless-escape": 0,
        "no-new": 0,
        "no-global-assign": 0,
        "no-eval": 0, // 可以使用eval
        "camelcase": 0,
        "no-trailing-spaces": 0,
        "padded-blocks": 0,
        "no-unused-vars": 0
    }
}
