.profile {
  margin-top: 20px;
  background: #202630;
  li {
    height: 50px;
    line-height: 50px;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
  }
}
.switch-user-button {
  width: 90%;
  height: 42px;
  line-height: 42px;
  margin: 20px 5%;
  background: @lg2;
  border-radius: 10px;
  border: 0;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
}